
*{
    font-family: 'Dancing Script', cursive;

}


#carouselExampleIndicators{
    background-image: url(./image/ai-generated-8302143_640.webp);
    
    
}
#carouselExampleIndicators{
    width: 100%;
    height: 500px;
}



